
<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Tableau de bord</h4>
    </div>

  </div>

  <!-- end widget -->
  <div class="row">
    <div class="col-xl-2">
      <div class="card">
        <div class="card-body p-0">
          <h5 class="card-title header-title border-bottom p-2 mb-0">Banque Vue d'ensemble</h5>
          
          <!-- Overview data -->
          <div *ngFor="let accountSolde of accountSoldes">
              <app-overview  [value]="accountSolde.solde" [title]="accountSolde.account.label" classNames="px-3 py-4">
              </app-overview>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-10">
      <app-budget></app-budget>
    </div>
  </div>

</div>