<div class="card" *ngIf="source.show.tableShow||source.data.length">
    <div class="card-body">
        <h4 class="header-title mt-0 mb-1">{{source.title| titlecase}}</h4>
        <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6" *ngIf="source.show.pagesize">
                <div class="dataTables_length" id="tickets-table_length"><label
                        class="d-inline-flex align-items-center">
                        <select name="tickets-table_length" (change)="pageSizeChanged()" aria-controls="tickets-table"
                            name="pageSize" [(ngModel)]="source.ts.pageSize"
                            class="custom-select custom-select-sm form-control form-control-sm mx-2">
                            <option *ngFor="let ps of source.ts.pageSizeList" [ngValue]="ps">{{ps}}</option>
                        </select>Elements</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6" *ngIf="source.show.search">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                        class="d-inline-flex align-items-center">Recherche:
                        <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                            aria-controls="tickets-table" (ngModelChange)="searchTerm($event)"
                            [(ngModel)]="source.ts.searchTerm"></label></div>
            </div>
            <!-- End search -->
        </div>
        <table id="basic-datatable" class="table datatables dt-responsive nowrap">
            <thead *ngIf="source.show.headers">
                <tr>
                    <th *ngFor="let head of source.headers" [sortable]="head['name']" (sort)="onSort($event)">
                        {{head.displayName}}
                    </th>
                    <th *ngIf="source.star.show"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item1 of source.data">
                    <td *ngFor="let head of source.headers">
                        <ngb-highlight [ngClass]="getColor(item1,head)" [result]="getResult(item1,head)"
                            [term]="source.ts.searchTerm"></ngb-highlight>
                    </td>
                    <td *ngIf="source.star.show">
                        <div class="d-flex justify-content-end" ngbDropdown>
                            <span class="action dropdown-toggle" ngbDropdownToggle><i class="icon">
                                    <i data-feather="more-vertical" appFeatherIcon></i>
                                </i></span>
                            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                <div class="action dropdown-item" *ngFor="let item2 of source.actions"
                                    (click)="actionsEventEmit(item1,item2)">
                                    <i class="item-icon" [attr.data-feather]="item2.icon" appFeatherIcon></i>
                                    {{item2.text}}
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr *ngIf="source.show.footerTotal" class="tr-footer">
                    <td *ngFor="let footer of source.footers" [attr.colspan]="footer.colspan">
                        {{getTotalValue(footer)}}
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center mt-2" *ngIf="source.show.page">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    {{source.ts.startIndex}} à
                    {{source.ts.endIndex}} sur {{source.ts.totalItems}}
                </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">
                    <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="source.ts.totalItems"
                        [(page)]="source.ts.page" [pageSize]="source.ts.pageSize">
                    </ngb-pagination>
                </div>
            </div>
            <!-- End Pagination -->
        </div>
    </div>
</div>