
.action{
    cursor: pointer;
}


.item-icon{
    width: 15px;
    height: 15px;
}

.debit-color{
    color: rgb(83, 105, 248);
    font-weight: bolder;
    text-align: right !important;
}

.credit-color{
    color: #ff5c75 ;
    font-weight: bolder;
    text-align: right !important;
}

.tr-footer{
    font-weight: bolder;
}