
{% extends "index.html" %}

{% block pills %}

{% block subtitle %}
<div class="row justify-content-between">
    <div class="col-auto mr-auto">
        <h3>{% block titre %}Mode de jeux {% endblock %}</h3>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" href="{{ url_for('create_mode') }}">Nouveux mode</a>
    </div>
</div> 
{% endblock %}
{% if rep_list|length > 0 %}
<div class="row justify-content-around">
    {% for mode in rep_list %}
        {% include "quizz/mode/card.html" %}
    {% endfor %}
</div>
{% else %}
<div class="row justify-content-around">
    <img src="static/img/mode.png" class="rounded-circle no_mode_create_img" alt="Cinque Terre">
</div>
<div class="row justify-content-around">
    <h1 class="no_mode_create">Créer un mode de jeux ...</h1>
</div>
{% endif %}
{% endblock %}