<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appli flask docker</title>
</head>
<body>
    <div style="text-align:center"><h1>Ajout d'un nouvel utilisateur</h1></div>
    <p><a href="/">Accueil</a></p>
    <form action="" method="PUT">
        <p><input type="text" name="firstname" placeholder= "firstname" maxlength="40" required/></p>
        <p><input type="text" name="lastname" placeholder= "lastname" maxlength="40" required/></p>
        <p><input type="text" name="pseudo" placeholder= "pseudo" maxlength="40" required/></p>
        <p><select name="role">
            <option value=""></option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
        </select></p>
        <input type="submit" value="Ajouter"><br>
    </form>
</body>
</html>