{% extends "quizz/answer/index.html" %}

{% block pills %}

<h3>{% block subtitletext %} Ajouter un nouvel utilisateur {% endblock %}</h3>

<form method="post">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label for="firstname">firstname:</label>
                <input type="text" placeholder="firstname" class="form-control" name="firstname" id="firstname">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="lastname">lastname:</label>
                <input type="text" placeholder="lastname" class="form-control" name="lastname" id="lastname">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="pseudo">pseudo:</label>
                <input type="text" placeholder="pseudo" class="form-control" name="pseudo" id="pseudo">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="password">pseudo:</label>
                <input type="password" placeholder="password" class="form-control" name="password" id="password">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="role_user">role</label>
                <select class="form-control" name="role_user" id="role_user">
                    <option value=""></option>
                    {% for role in all_rols %}
                    <option value="{{role.id}}">{{role.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-second" href="{{ url_for('listuser') }}">Annuler</a>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}