<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-md-3 col-xl-6">
      <h4 class="mb-1 mt-0">Liste des offres d'emplois</h4>
    </div>
    <div class="col-md-9 col-xl-6 text-md-right">
      <div class="mt-4 mt-md-0">
        <a routerLink="/apps/create-offer" class="btn btn-danger mr-4 mb-3  mb-sm-0">
          <i class="uil-plus mr-1"></i> Créer une offre
        </a>
        <div class="btn-group mb-3 mb-sm-0">
          <button type="button" class="btn btn-primary">All</button>
        </div>
        <div class="btn-group ml-1">
          <button type="button" class="btn btn-white">Valides</button>
          <button type="button" class="btn btn-white">Expirées</button>
        </div>
        <div class="btn-group ml-2 d-none d-sm-inline-block">
          <button type="button" class="btn btn-primary btn-sm"><i class="uil uil-apps"></i></button>
        </div>
        <div class="btn-group d-none d-sm-inline-block">
          <button type="button" class="btn btn-white btn-sm"><i class="uil uil-align-left-justify"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" *ngFor="let offer of offers">
      <div class="card">
        <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Consulter l'offre">
          <div class="card-body">
            <div class="badge badge-success float-right" [ngClass]="{ 'badge-danger': offer.status == 2}">
              {{ offer.status  |status}}</div>
            <p style="white-space:pre" class="text-success text-uppercase font-size-12 mb-2"
              [ngClass]="{ 'text-warning': offer.type == 1}">{{ offer.job}}</p>
            <h5 cl><a href="javascript: void(0)" class="text-dark">{{ offer.title }}</a></h5>
            <div style="white-space:pre-line;">
              {{offer.description}}
              </div>
          </div>
        </a>
        <div class="card-body border-top">
          <div class="row align-items-center">
            <div class="col-sm-auto">
              <ul class="list-inline mb-0">
                <li class="list-inline-item pr-2">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Date de plubication">
                    <i class="uil uil-calender mr-1"></i> {{ offer.publishdate }}
                  </a>
                </li>
                <li class="list-inline-item pr-2">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Mettre en favoris">
                    <i class="uil uil-bookmark mr-1"></i>
                  </a>
                </li>
                <li class="list-inline-item pr-2">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Signaler">
                    <i class="uil uil-windsock mr-1"></i>
                  </a>
                </li>
                <li class="list-inline-item pr-2">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Modifier">
                    <i class="uil uil-edit mr-1"></i>
                  </a>
                </li>
                <li class="list-inline-item pr-2">
                  <a class="text-muted d-inline-block" placement="top" ngbTooltip="Supprimer" style="cursor: pointer;" (click)="triggerModal(modalData, offer)">
                    <i class="uil uil-trash-alt mr-1"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</div>

<!-- Contenu de la fenêtre modale -->
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suppression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Êtes-vous sûr de vouloir supprimer l'offre <span class="text-primary">{{offer.title}}</span> ?</strong></p>
    
    <p>Cette offre sera supprimée définitivement.
      <span class="text-danger">Cette action est irreversible !</span>
      </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Annuler')">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Supprimer')">Supprimer</button>
  </div>
</ng-template>
