.solde{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #7989ee;
    background-color: rgb(235, 235, 235);
    border-radius: 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ng-select{
    display: inline-block;
}
