.ng-select.mt-2{
    margin-top: 0px  !important;
}

.debit-color{
    color: rgb(83, 105, 248);
    font-weight: bolder;
    text-align: right !important;
}

.credit-color{
    color: #ff5c75 ;
    font-weight: bolder;
    text-align: right !important;
}
.prev-class{
    color:#6c757d; 
    font-size: 10px;
    font-weight: normal;
}

.prev-mb{
    color:#6c757d; 
    font-size: 10px;
    margin-top: 0;
}

.title-mb{
    margin-bottom: 0;
}

th{
    cursor:default;
}


th.cell{
    cursor: pointer;
}

