
<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center">
              <div class="mx-auto mb-5">
                <a routerLink="/">
                  <h3 class="d-inline align-middle ml-1 text-logo">Quizz QCM</h3>
                </a>
              </div>

              <h6 class="h5 mb-0 mt-4">Confirmez votre email</h6>
              <p class="text-muted mt-3 mb-3">Votre compte a été enregistré avec succès. Pour terminer le processus de vérification, veuillez vérifier votre courrier électronique pour une demande de validation.
              </p>
            </div>
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">Retour à la <a routerLink="/account/login"
                class="text-primary font-weight-bold ml-1">Connexion</a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->