{% extends "index.html" %}

{% block pills %}
<form method="post">
{% block subtitle %}
<div class="row justify-content-between">
    <div class="col-auto mr-auto">
        <h3>{% block titre %}Choix du sujet{% endblock %}</h3>
    </div>
    <div class="col-auto">
        <a class="btn btn-seconde" href="{{ url_for('choose_mode') }}"><i class="fas fa-arrow-left"></i> Retour</a>
        {% if subjects|length > 0 %}<button type="submit" class="btn btn-primary">Jouer</button>{% endif %}
    </div>
</div>
{% endblock %}
{% if subjects|length > 0 %}
<div>
    <div>
        {% for subject in subjects %}
        <br>
        <div class="card">
            <div class="card-body">
                <input type="radio" id={{subject.name}} name="select_subject" value={{subject.id}}>
                <label for={{subject.name}}>{{subject.name}}</label>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>
{% else %}
<div>Il n'y pas encore de sujet pour ce mode de jeu</div>
{% endif %}
{% endblock %}
</form>