
{% extends "index.html" %}

{% block pills %}

{% block subtitle %}
<div class="row justify-content-between">
    <div class="col-auto mr-auto">
        <h3>{% block titre %}Choix du mode de jeu{% endblock %}</h3>
    </div>
    <div class="col-auto">
        <a class="btn btn-seconde" href="{{ url_for('home') }}"><i class="fas fa-arrow-left"></i> Retour</a>
    </div>
</div> 
{% endblock %}
<form method="post">
<div>
    <div>
    {% for mode in modes %}
    <div>
    <input type="radio" id={{mode.name}} name="select_mode" value={{mode.id}} >
        <label for={{mode.name}}>{{mode.name}} - {{mode.nbrQ}}</label>
    </div>
    {% endfor %}
</div>
<div class="">
    <button type="submit" class="btn btn-primary">Choix du sujet</button>
</div>
</form>
{% endblock %}

