<div class="container-fluid">
  <app-page-title [title]="title||'Les comptes'" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-6">
              <img src="assets/images/compte.png" class="mr-4 align-self-center img-fluid " alt="cal" />
            </div>
            <div class="col-xl-10 col-lg-9">
              <div class="mt-4 mt-lg-0">
                <div class="text-muted mb-2">
                  Espace de travail courant : <span *ngIf="currentNs" class="text-success">{{currentNs.name||""}}</span>
                  <span *ngIf="!currentNs" class="text-danger font-weight-bold">Sélectionner un espace de travail</span>
                </div>
                <button class="btn btn-primary mt-2 mr-1" id="btn-new-event" (click)="openModal(eventModal)"><i
                  class="uil-plus-circle"></i>
                {{btncreate || "Créer un compte"}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-table-advanced [source]="tableSource" (fetchDataEvent)="fetchDataEventHandle()"
    (actionsEvent)="actionsEventHandle($event,eventModal)"></app-table-advanced>

</div>

<ng-template #eventModal let-modal>
  <app-form-subaccount  *ngIf="haveSubForm" [txt]='txtInput'   [account]="modalAccount"  (accountFormEvent)="callFormEvent($event)"></app-form-subaccount>
  <app-form-account  *ngIf="haveForm" [txt]='txtInput'   [account]="modalAccount"  (accountFormEvent)="callFormEvent($event)"></app-form-account>
  <app-form-delete *ngIf="haveDeleteForm" [txt]='txt' [itemField]="'label'" [item]="modalAccount" (formEvent)="callDeleteEvent($event)">
  </app-form-delete>
</ng-template>