<br>
<div class="card">
    <div class="card-body">
        <h4 class="header-title mt-0 mb-4">Sujet {{qcm.sujet}}</h4>
        <div *ngIf="!showScore">
            <div class="row">
                <div class="col-12">
                    <label>Questions</label>
                </div>
                <div class="col-12">
                    <p>{{questions[index].text}}</p>
                </div>
                <hr>
                <div class="col-12">
                    <label>Les réponses</label>
                </div>
                <div class="col-12">
                    <div class="form-group row mb-3 justify-content-end" *ngFor="let answer of questions[index]?.answers">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"  [(ngModel)]=answer.isTrue class="custom-control-input" [id]="answer.id">
                                <label class="custom-control-label" [attr.for]="answer.id">{{answer?.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-auto mr-auto">
                    <button class="btn btn-primary btn-block" (click)="prev()">Précedent</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-block" (click)="next()">Suivant</button>
                </div>
            </div>
        </div>

        <div *ngIf="showScore">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                        <h3 class="mt-0">Merci !"</h3>

                        <p class="w-75 mb-2 mx-auto">Votre score est de 
                            <b class="score " [ngClass]="{bad: score<50,good: score>=50,prefect: score>80}">{{score| number : '1.2-2'}}%</b></p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class="row justify-content-end">
                <div class="col-2">
                    <button class="btn btn-primary btn-block" (click)="home()">Aller à l'acceuil</button>
                </div>
              </div>

        </div>

    </div>
</div>