hr {
    height: 1px;
    margin: -0.5em 0;
    padding: 0;
    color: #F00;
    background-color: #F00;
    border: 0;
  }
  .bad{
      color: #ff5c75;
  }
  .good{
    color: #ffbe0b;
}
.prefect{
    color: #43d39e
}

  .score{
        font-size: 20px;
  }