hr {
    height: 1px;
    margin: -0.5em 0;
    padding: 0;
    color: #F00;
    background-color: #F00;
    border: 0;
  }
  .bad{
      color: #ff5c75;
  }
  .good{
    color: #ffbe0b;
}
.prefect{
    color: #43d39e
}

  .score{
        font-size: 20px;
  }

  .custom-control,.r-c{
    cursor: pointer;
  }

  .custom-control{
    padding-left: 100px;
  }

  .quizz-card{
    border: solid 1px rgb(206, 206, 206);
    border-left: solid 5px #3498db;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .question,.qcm{
    color: #3498db;
  }