<br>
<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-auto mr-auto">
                <h4 class="header-title qcm mt-0 mb-4">Sujet {{qcm.sujet}}</h4>
            </div>
        </div>
        <div *ngIf="!showScore">
            <div class="row">
                <div class="col-12">
                    <div class="quizz-card">
                        <label>Questions</label>
                        <p class="question"><b><i>{{questions[index].text}}</i></b></p>
                    </div>
                </div>
                <hr>
                <div class="col-12">
                        <div>Choix possibles :</div>
                </div>
                <div class="col-12">
                    <div class="form-group row mb-3 justify-content-end"
                        *ngFor="let answer of questions[index]?.answers">
                        <div class="col-12">
                            <div class="custom-control custom-radio">
                                <input type="radio" (change)="handlechange(answer.id)" name="answer"
                                    class="r-c custom-control-input" [id]="answer.id">
                                <label class="r-c custom-control-label" [attr.for]="answer.id">{{answer?.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-auto mr-auto">
                    <button class="btn btn-primary btn-block" (click)="prev()">Précedent</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-block" (click)="next()">Suivant</button>
                </div>
            </div>
        </div>

        <div *ngIf="showScore">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                        <h3 class="qcm mt-0">Merci !"</h3>

                        <p class="w-75 mb-2 mx-auto">Votre score est de
                            <b class="score " [ngClass]="{bad: score<50,good: score>=50,prefect: score>80}">{{score|
                                number : '1.2-2'}}%</b>
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class="row justify-content-end">
                <div class="col-2">
                    <button class="btn btn-primary btn-block" (click)="home()">Aller à l'accueil</button>
                </div>
            </div>

        </div>

        <div *ngIf="index < qcm.questions.length" class=" text-center">
            <p>{{index+1}} sur {{qcm.questions.length}} Question(s)</p>
        </div>

    </div>
</div>