{% extends "quizz/answer/index.html" %}

{% block pills %}
<form method="post">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Suppression d'une réponse</h3>

                    <p class="card-text">Souhaitez vous réellement supprimer la réponse ayant l'id: {{answer.id}} ?
                    </p>

                    <div class="float-right">
                        <a class="btn btn-second" href="{{ url_for('answer') }}">Annuler</a>
                        <button type="submit" class="btn btn-danger" value="Submit">supprimer</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}