{% extends "quizz/answer/index.html" %}

{% block pills %}

<h3>{% block subtitletext %}Form{% endblock %}</h3>

<form method="post">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label for="answer">Réponse</label>
                <textarea class="form-control" name="answer" id="answer" rows="5">{{answer.answer}}</textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-second" href="{{ url_for('answer') }}">Annuler</a>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}