.navbar{
    background-color: #e3f2fd;
}

.navbar-text{
    font-weight: 900;
    font-size: 30px;
    padding: 0;
}

.d-navbar-text{
    color: #20bf6b;
    font-weight: 900;
    font-size: 40px;
}

