

{% extends "index.html" %}


{% block pills %}

<form method="post">
{% block subtitle %}
<div class="row justify-content-between">
    <div class="col-auto mr-auto">
        <h3>{% block titre %} Sujet [ {{subject.name}} ] : 1/{{subject|length}} - Questions {% endblock %}</h3>
    </div>
</div> 
{% endblock %}
<div>
    <h5>
        Question  
    </h5>
    <p>
    {% with id = subject.questions[0].question_id, option='question' %}
        {% include "quizz/game/text_by_id.html" %}
    {% endwith %}
    </p>
</div>
<div>
    <h5>
        Les réponses 
    </h5>
    <p>
        {% for answer in subject.questions[0].question.answers %}
        <div class="form-check">
            <input name="answers" class="form-check-input" type="checkbox" id={{answer.answer_id}} value={{answer.answer_id}} >
            <label class="form-check-label" for={{answer.answer_id}}>
                {% with id = answer.answer_id , option='answer' %}
                    {% include "quizz/game/text_by_id.html" %}
                {% endwith %}
            </label>
        </div>
        {% endfor %}
    </p>
</div>

<div class="row justify-content-between">
    <div class="col-auto mr-auto">
       <button  type="submit" class="btn btn-primary">Précédent</button>
    </div>
    <div class="col-auto">
        <button  type="submit" class="btn btn-primary">Suivant</button>
    </div>
</div>
<br>
<div class="row justify-content-between">
    <div class="col-auto mr-auto">
        
     </div>
    <div class="col-auto">
        <a class="btn btn-primary" href="{{ url_for('end_game') }}">Terminer</a>
    </div>
</div>
</form>
{% endblock %}