{% extends "quizz/answer/index.html" %}

{% block pills %}

<h3>{% block subtitletext %} Connexion {% endblock %}</h3>

<form method="post" action="/login">
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <label for="pseudo">pseudo:</label>
                <input type="text" placeholder="pseudo" class="form-control" name="pseudo" id="pseudo">
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                <label for="password">password:</label>
                <input type="text" placeholder="password" class="form-control" name="password" id="password">
            </div>
        </div>

        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-second" href="{{ url_for('listuser') }}">Annuler</a>
                <button type="submit" class="btn btn-primary" value="login">Valider</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}