<link href="{{ url_for('static', filename='css/question/answer.css') }}" rel="stylesheet">
{% if answer.isAnswer=='True' %}
    {% set row_class = "border-primary" %}
{% else %}
    {% set row_class = "border-danger" %}
{% endif %}
<div class="card {{row_class}} mb-3" >
    <div class="card-body container-fluid" id="newsHeading">
        <div class="row">
            <div class="col">
                <h6>{{answer.answer.answer}}</h6>
                <textarea class="hide" name="index_answer" >{{loop.index}}</textarea>
            </div>
            <div class="col">
                <button type="submit" name="btn-close" value="{{loop.index}}" title="Supprimer" class="btn close" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>