{% extends "quizz/question/index.html" %}

{% block pills %}

<h3>{% block subtitletext %}Form{% endblock %}</h3>

<form method="post">
    <div class="row">

        <div class="col-12">
            <hr>
            <div class="form-group">
                <label for="question">Question</label>
                <textarea class="form-control" name="question" id="question" rows="5">{{question.question}}</textarea>
            </div>
        </div>

        <div class="col-12">
            <hr>
            <div class="form-group">
                <label for="answer">Réponse</label>
                <textarea class="form-control" name="answer" id="answer" rows="3">{{_answer}}</textarea>
            </div>
            <div class="float-right">
                <button type="submit" name="btn-answer" value="ADD" class="btn btn-outline-primary">Ajouter une
                    question</button>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="answer_list">Liste des réponses</label>
                <input type="hidden" name="answers" value="{{question.answers}}">
                <div  value={{question.answers}}>
                    {% for answer in question.answers %}
                    <li>{{answer.answer.answer}}</li>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-second" href="{{ url_for('question') }}">Annuler</a>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}