{% extends "quizz/question/index.html" %}

{% block pills %}
<link href="{{ url_for('static', filename='css/question/form.css') }}" rel="stylesheet">
<h3>{% block subtitletext %}Form{% endblock %}</h3>

<form method="post">
    <div class="row">

        <div class="col-12">
            <hr>
            <div class="form-group">

                <div class="row">
                    <div class="col-auto mr-auto">
                        <label for="question">Question</label>
                    </div>
                    <div class="col-auto q_select">
                        {% if select_answer=='True' %}
                        <button type="submit" name="btn-select" value="SELECT_ANSWER"
                            class="btn btn-outline-primary">Sélectionner une réponse</button>
                        {% else %}
                        <button type="submit" name="btn-select" value="INPUT_ANSWER"
                        class="btn btn-outline-primary">Entrer une réponse</button>
                        {% endif %}
                    </div>
                </div>
                <textarea class="form-control" name="question" id="question" rows="5">{{question.question}}</textarea>
            </div>
        </div>

        <div class="col-12">
            <hr>
            <div class="form-group">
                <label for="answer">Réponse</label>
                {% if select_answer=='True' %}
                <textarea class="form-control" name="answer" id="answer" rows="3">{{_answer}}</textarea>
                {% else %}
                <div class="form-group" >
                    <select name="answer"  class="form-control">
                        {% for answer in  answers_list %}
                        <option class="q_option" value="{{answer.answer}}">{{answer.answer}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-auto mr-auto">
                    <button type="submit" name="btn-answer" value="ADD_FALSE" class="btn btn-outline-danger">Ajouter une
                        mauvaise réponse</button>
                </div>
                <div class="col-auto">
                    <button type="submit" name="btn-answer" value="ADD_TRUE" class="btn btn-outline-primary">Ajouter une
                        bonne réponse</button>
                </div>
            </div>
        </div>

        <!-- Liste des mauvaise réponses -->
        <div class="col-6">
            <div class="form-group">
                <label for="answer_list">Liste des mauvaies réponses</label>
                <input type="hidden" name="answers" value="{{question.answers}}">
                <div class="list_question" value={{question.answers}}>
                    {% for answer in question.answers %}
                    <span class="hide">{{loop.index}}</span>
                    {% if answer.isAnswer=='' or answer.isAnswer=='False' %}
                    {% include "quizz/question/answer.html" %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Liste des bonnes réponses -->
        <div class="col-6">
            <div class="form-group">
                <label for="answer_list">Liste des bonnes réponses</label>
                <input type="hidden" name="answers" value="{{question.answers}}">
                <div class="list_question" value={{question.answers}}>
                    {% for answer in question.answers %}
                    <span class="hide">{{loop.index}}</span>
                    {% if answer.isAnswer=='True' %}
                    {% include "quizz/question/answer.html" %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-second" href="{{ url_for('question') }}">Annuler</a>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}