<div class="container-fluid">
  <app-page-title title="Score"></app-page-title>
  <div class="row">
    <div class="col-lg-3">
      <ng-template [ngTemplateOutlet]="ProfileData"></ng-template>
    </div>
  </div>
</div>

<!-- Profile data -->
<ng-template #ProfileData>
  <div class="card">
    <div class="card-body">
      <div class="text-center mt-3">
        <img src="assets/images/users/avatar-7.jpg" alt="" class="avatar-lg rounded-circle" />
        <h5 class="mt-2 mb-0">{{user.name}}</h5>
        <h6 class="text-muted font-weight-normal mt-1 mb-4">{{user.email}}</h6>
        <h6 class="text-muted font-weight-normal mt-1 mb-4">{{getAdmin()}}</h6>
      </div>
    </div>
  </div>
</ng-template>